@import url("//fonts.googleapis.com/css?family=Libre+Baskerville:400,700");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700");
/* RESET */
#webkite-results.wine-shop-landscape.webkite-light {
  /* HTML5 display-role reset for older browsers */ }
  #webkite-results.wine-shop-landscape.webkite-light div, #webkite-results.wine-shop-landscape.webkite-light span, #webkite-results.wine-shop-landscape.webkite-light applet, #webkite-results.wine-shop-landscape.webkite-light object, #webkite-results.wine-shop-landscape.webkite-light iframe, #webkite-results.wine-shop-landscape.webkite-light h1, #webkite-results.wine-shop-landscape.webkite-light h2, #webkite-results.wine-shop-landscape.webkite-light h3, #webkite-results.wine-shop-landscape.webkite-light h4, #webkite-results.wine-shop-landscape.webkite-light h5, #webkite-results.wine-shop-landscape.webkite-light h6, #webkite-results.wine-shop-landscape.webkite-light p, #webkite-results.wine-shop-landscape.webkite-light blockquote, #webkite-results.wine-shop-landscape.webkite-light pre, #webkite-results.wine-shop-landscape.webkite-light a, #webkite-results.wine-shop-landscape.webkite-light abbr, #webkite-results.wine-shop-landscape.webkite-light acronym, #webkite-results.wine-shop-landscape.webkite-light address, #webkite-results.wine-shop-landscape.webkite-light big, #webkite-results.wine-shop-landscape.webkite-light cite, #webkite-results.wine-shop-landscape.webkite-light code, #webkite-results.wine-shop-landscape.webkite-light del, #webkite-results.wine-shop-landscape.webkite-light dfn, #webkite-results.wine-shop-landscape.webkite-light em, #webkite-results.wine-shop-landscape.webkite-light img, #webkite-results.wine-shop-landscape.webkite-light ins, #webkite-results.wine-shop-landscape.webkite-light kbd, #webkite-results.wine-shop-landscape.webkite-light q, #webkite-results.wine-shop-landscape.webkite-light s, #webkite-results.wine-shop-landscape.webkite-light samp, #webkite-results.wine-shop-landscape.webkite-light small, #webkite-results.wine-shop-landscape.webkite-light strike, #webkite-results.wine-shop-landscape.webkite-light strong, #webkite-results.wine-shop-landscape.webkite-light sub, #webkite-results.wine-shop-landscape.webkite-light sup, #webkite-results.wine-shop-landscape.webkite-light tt, #webkite-results.wine-shop-landscape.webkite-light var, #webkite-results.wine-shop-landscape.webkite-light b, #webkite-results.wine-shop-landscape.webkite-light u, #webkite-results.wine-shop-landscape.webkite-light i, #webkite-results.wine-shop-landscape.webkite-light center, #webkite-results.wine-shop-landscape.webkite-light dl, #webkite-results.wine-shop-landscape.webkite-light dt, #webkite-results.wine-shop-landscape.webkite-light dd, #webkite-results.wine-shop-landscape.webkite-light ol, #webkite-results.wine-shop-landscape.webkite-light ul, #webkite-results.wine-shop-landscape.webkite-light li, #webkite-results.wine-shop-landscape.webkite-light fieldset, #webkite-results.wine-shop-landscape.webkite-light form, #webkite-results.wine-shop-landscape.webkite-light label, #webkite-results.wine-shop-landscape.webkite-light legend, #webkite-results.wine-shop-landscape.webkite-light table, #webkite-results.wine-shop-landscape.webkite-light caption, #webkite-results.wine-shop-landscape.webkite-light tbody, #webkite-results.wine-shop-landscape.webkite-light tfoot, #webkite-results.wine-shop-landscape.webkite-light thead, #webkite-results.wine-shop-landscape.webkite-light tr, #webkite-results.wine-shop-landscape.webkite-light th, #webkite-results.wine-shop-landscape.webkite-light td, #webkite-results.wine-shop-landscape.webkite-light article, #webkite-results.wine-shop-landscape.webkite-light aside, #webkite-results.wine-shop-landscape.webkite-light canvas, #webkite-results.wine-shop-landscape.webkite-light details, #webkite-results.wine-shop-landscape.webkite-light embed, #webkite-results.wine-shop-landscape.webkite-light figure, #webkite-results.wine-shop-landscape.webkite-light figcaption, #webkite-results.wine-shop-landscape.webkite-light footer, #webkite-results.wine-shop-landscape.webkite-light header, #webkite-results.wine-shop-landscape.webkite-light hgroup, #webkite-results.wine-shop-landscape.webkite-light menu, #webkite-results.wine-shop-landscape.webkite-light nav, #webkite-results.wine-shop-landscape.webkite-light output, #webkite-results.wine-shop-landscape.webkite-light ruby, #webkite-results.wine-shop-landscape.webkite-light section, #webkite-results.wine-shop-landscape.webkite-light summary, #webkite-results.wine-shop-landscape.webkite-light time, #webkite-results.wine-shop-landscape.webkite-light mark, #webkite-results.wine-shop-landscape.webkite-light audio, #webkite-results.wine-shop-landscape.webkite-light video {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    word-wrap: normal;
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    text-transform: none;
    vertical-align: baseline;
    text-rendering: auto;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: all 0 none;
    transition: none; }
  #webkite-results.wine-shop-landscape.webkite-light button, #webkite-results.wine-shop-landscape.webkite-light select, #webkite-results.wine-shop-landscape.webkite-light input {
    text-transform: none; }
    #webkite-results.wine-shop-landscape.webkite-light button:active, #webkite-results.wine-shop-landscape.webkite-light select:active, #webkite-results.wine-shop-landscape.webkite-light input:active {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
  #webkite-results.wine-shop-landscape.webkite-light button::-moz-focus-inner {
    padding: 0;
    border: 0; }
  #webkite-results.wine-shop-landscape.webkite-light article, #webkite-results.wine-shop-landscape.webkite-light aside, #webkite-results.wine-shop-landscape.webkite-light details, #webkite-results.wine-shop-landscape.webkite-light figcaption, #webkite-results.wine-shop-landscape.webkite-light figure, #webkite-results.wine-shop-landscape.webkite-light footer, #webkite-results.wine-shop-landscape.webkite-light header, #webkite-results.wine-shop-landscape.webkite-light hgroup, #webkite-results.wine-shop-landscape.webkite-light menu, #webkite-results.wine-shop-landscape.webkite-light nav, #webkite-results.wine-shop-landscape.webkite-light section {
    display: block; }
  #webkite-results.wine-shop-landscape.webkite-light body {
    line-height: 1; }
  #webkite-results.wine-shop-landscape.webkite-light ol, #webkite-results.wine-shop-landscape.webkite-light ul, #webkite-results.wine-shop-landscape.webkite-light ul li {
    list-style: none; }
  #webkite-results.wine-shop-landscape.webkite-light blockquote, #webkite-results.wine-shop-landscape.webkite-light q {
    quotes: none; }
  #webkite-results.wine-shop-landscape.webkite-light blockquote:before, #webkite-results.wine-shop-landscape.webkite-light blockquote:after {
    content: '';
    content: none; }
  #webkite-results.wine-shop-landscape.webkite-light q:before, #webkite-results.wine-shop-landscape.webkite-light q:after {
    content: '';
    content: none; }
  #webkite-results.wine-shop-landscape.webkite-light table {
    border-collapse: collapse;
    border-spacing: 0; }

/****************************************** BEGIN STYLES */
#webkite-results.wine-shop-landscape.webkite-light {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  font: 400 14px/normal 'Open Sans', 'Arial', sans-serif; }
  #webkite-results.wine-shop-landscape.webkite-light a {
    color: #1b9cd2;
    text-decoration: none; }
    #webkite-results.wine-shop-landscape.webkite-light a:hover {
      color: #0073a7; }
  #webkite-results.wine-shop-landscape.webkite-light.webkite-fade-out img {
    opacity: 0.5; }

/* TYPOGRAPHY */
#webkite-results.wine-shop-landscape.webkite-light h1, #webkite-results.wine-shop-landscape.webkite-light h2, #webkite-results.wine-shop-landscape.webkite-light h3, #webkite-results.wine-shop-landscape.webkite-light h4 {
  margin: 0; }
#webkite-results.wine-shop-landscape.webkite-light h2 {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font: 700 18px/1.1 'Libre Baskerville', 'Georgia', serif;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4px; }
#webkite-results.wine-shop-landscape.webkite-light p, #webkite-results.wine-shop-landscape.webkite-light li {
  color: rgba(0, 0, 0, 0.6); }

/******************************************** NAVIGATIONALS */
#webkite-results.wine-shop-landscape.webkite-light .webkite-results-header, #webkite-results.wine-shop-landscape.webkite-light .webkite-results-footer {
  text-align: justify;
  position: relative; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-results-header .webkite-sort-area, #webkite-results.wine-shop-landscape.webkite-light .webkite-results-header .webkite-filter-area, #webkite-results.wine-shop-landscape.webkite-light .webkite-results-footer .webkite-sort-area, #webkite-results.wine-shop-landscape.webkite-light .webkite-results-footer .webkite-filter-area {
    display: inline-block;
    vertical-align: top; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-results-header .webkite-branding-area, #webkite-results.wine-shop-landscape.webkite-light .webkite-results-footer .webkite-branding-area {
    width: 102px;
    margin-right: -102px;
    display: inline-block;
    position: relative; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-results-header .webkite-branding-area a, #webkite-results.wine-shop-landscape.webkite-light .webkite-results-footer .webkite-branding-area a {
    background: url("branding-light.svg") center top no-repeat;
    background-size: 102px 33px;
    display: inline-block;
    height: 34px;
    width: 102px; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-results-header {
  line-height: 1;
  margin-bottom: 20px; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-results-header::after {
    content: '';
    clear: both;
    display: table; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-results-footer {
  font-size: 14px; }

/************************************** DATASET NAME & EMBED */
#webkite-results.wine-shop-landscape.webkite-light .webkite-dataset-name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-weight: bold;
  font-family: 'Open Sans', 'Arial', sans-serif;
  line-height: 1.1em;
  margin: -0.15em 0 15px;
  padding: 0; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-dataset-name + .webkite-embed-wrapper {
    margin: -13px 0 5px; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-embed-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  line-height: 19px;
  margin: -15px 0 5px;
  padding: 10px 0;
  height: 39px;
  position: relative;
  overflow: hidden; }
#webkite-results.wine-shop-landscape.webkite-light #webkite-embedder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 19px;
  padding: 10px 0;
  height: 39px;
  position: absolute;
  top: -50px;
  right: 0;
  left: 0;
  z-index: 1; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-embed-input {
  padding: 0 20px 0 70px; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-embed-input input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #777;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2px;
    margin: 0;
    outline: none;
    font-size: 10px;
    position: relative;
    width: 100%;
    top: -1px; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-embed-select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  padding: 10px 10px 10px 0;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-embed-hide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  padding: 10px 0 10px 10px;
  text-indent: -99999px;
  background: url('select-close.png') no-repeat right center; }

/************************************** SORTS AND FILTERS */
#webkite-results.wine-shop-landscape.webkite-light {
  /* sorts */
  /* filters */
  /* tokens */
  /* clear everything */ }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-sort-area > .webkite-toggle, #webkite-results.wine-shop-landscape.webkite-light .webkite-primary-filter-menu > .webkite-toggle {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    outline: none;
    display: block;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font: 700 14px/1.3 'Open Sans', 'Arial', sans-serif;
    text-align: left;
    margin: 0;
    padding: 3px 18px 3px 0;
    height: 28px;
    width: 80px;
    white-space: nowrap; }
    #webkite-results.wine-shop-landscape.webkite-light .webkite-sort-area > .webkite-toggle > span, #webkite-results.wine-shop-landscape.webkite-light .webkite-primary-filter-menu > .webkite-toggle > span {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 8px;
      width: 100%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-sort-area {
    position: relative;
    z-index: 3; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-sort-area > .webkite-toggle i {
    background: url("angle-light.png") center center no-repeat;
    height: 10px;
    pointer-events: none;
    width: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: 8px; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-filter-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    position: relative; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-sort-area + .webkite-filter-area {
    padding-left: 90px;
    margin-left: -80px; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-applied-filters {
    position: relative; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-primary-filter-menu {
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: top;
    z-index: 2; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-primary-filter-menu > .webkite-toggle {
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -ms-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-primary-filter-menu > .webkite-toggle i {
    background: url("plus-light.png") no-repeat;
    height: 12px;
    width: 12px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 6px; }
  #webkite-results.wine-shop-landscape.webkite-light .current-filters {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -ms-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    display: block;
    height: 28px;
    padding: 5px 25px 5px 0px;
    margin-left: 80px;
    position: relative;
    text-align: left;
    vertical-align: top;
    /* and & or */ }
    #webkite-results.wine-shop-landscape.webkite-light .current-filters span {
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      line-height: 1.2em;
      padding: 0 0.41667em 0 0;
      vertical-align: top; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-token-wrapper {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%; }
    #webkite-results.wine-shop-landscape.webkite-light .filter-token-wrapper > span:first-child {
      padding-left: 0.41667em; }
  #webkite-results.wine-shop-landscape.webkite-light a.webkite-remove-filter {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    line-height: 1;
    max-width: 100px;
    padding: 0.0625em 0.3125em;
    text-align: left;
    word-wrap: normal;
    margin-right: 0.41667em; }
    #webkite-results.wine-shop-landscape.webkite-light a.webkite-remove-filter:hover {
      text-decoration: line-through; }
  #webkite-results.wine-shop-landscape.webkite-light [class^="filter-group"] {
    display: inline-block; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-group-0 a.webkite-remove-filter {
    background: #1b9cd2; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-group-1 a.webkite-remove-filter {
    background: #39a17c; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-group-2 a.webkite-remove-filter {
    background: #a8936f; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-group-3 a.webkite-remove-filter {
    background: #e6af52; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-group-4 a.webkite-remove-filter {
    background: #6f7ca8; }
  #webkite-results.wine-shop-landscape.webkite-light a.webkite-clear-filters {
    background: url("clear-all-icon.png") center top no-repeat;
    height: 18px;
    width: 18px;
    position: absolute;
    right: 4px;
    top: 4px; }
    #webkite-results.wine-shop-landscape.webkite-light a.webkite-clear-filters:active {
      background-position: 0 -18px; }

/**************************************** SORT/FILTER MENU */
#webkite-results.wine-shop-landscape.webkite-light {
  /* directional arrow */
  /* filter arrow */
  /* filter submenu*/ }
  #webkite-results.wine-shop-landscape.webkite-light .sort-menu, #webkite-results.wine-shop-landscape.webkite-light .filter-menu {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    background: white;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    z-index: 4;
    top: 10px;
    left: 10px; }
  #webkite-results.wine-shop-landscape.webkite-light .sort-menu li, #webkite-results.wine-shop-landscape.webkite-light .filter-menu li {
    list-style-type: none;
    position: relative;
    padding-bottom: 0; }
  #webkite-results.wine-shop-landscape.webkite-light .sort-menu li a, #webkite-results.wine-shop-landscape.webkite-light .filter-menu li .webkite-link, #webkite-results.wine-shop-landscape.webkite-light .filter-menu li a {
    color: #1b9cd2;
    display: block;
    padding: 2px 10px;
    white-space: pre; }
    #webkite-results.wine-shop-landscape.webkite-light .sort-menu li a:hover, #webkite-results.wine-shop-landscape.webkite-light .filter-menu li .webkite-link:hover, #webkite-results.wine-shop-landscape.webkite-light .filter-menu li a:hover {
      background: #1b9cd2;
      color: white; }
  #webkite-results.wine-shop-landscape.webkite-light .sort-menu li.active a {
    position: relative;
    padding-right: 30px; }
    #webkite-results.wine-shop-landscape.webkite-light .sort-menu li.active a.asc::after, #webkite-results.wine-shop-landscape.webkite-light .sort-menu li.active a.desc::after {
      background: url("sort-direction.png") no-repeat;
      content: "";
      display: block;
      height: 5px;
      width: 10px;
      position: absolute;
      top: 8px;
      right: 10px; }
    #webkite-results.wine-shop-landscape.webkite-light .sort-menu li.active a.asc::after {
      background-position: 0 0; }
    #webkite-results.wine-shop-landscape.webkite-light .sort-menu li.active a.desc::after {
      background-position: 0 -5px; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-menu > li > .webkite-link {
    color: #1b9cd2;
    cursor: pointer;
    padding-right: 20px;
    position: relative; }
    #webkite-results.wine-shop-landscape.webkite-light .filter-menu > li > .webkite-link::after {
      color: rgba(0, 0, 0, 0.6);
      content: "\203A";
      opacity: 0.5;
      position: absolute;
      right: 6.66667px; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-menu-child {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    display: none;
    position: absolute;
    background: white;
    padding: 10px 0;
    left: 100%;
    top: -10px;
    margin: 0; }
  #webkite-results.wine-shop-landscape.webkite-light .filter-menu li:hover .filter-menu-child {
    display: block; }

/******************************* FILTER OVERVIEW AND SHADE */
#webkite-results.wine-shop-landscape.webkite-light .filter-token-wrapper.webkite-truncated:before {
  content: "";
  background: url("gradient-fallback-light.png") repeat-y;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(5%, rgba(0, 0, 0, 0.3)), color-stop(25%, rgba(0, 0, 0, 0.15)), color-stop(75%, rgba(0, 0, 0, 0.02)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 5%, rgba(0, 0, 0, 0.15) 25%, rgba(0, 0, 0, 0.02) 75%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#00000000',GradientType=1 );
  height: auto;
  width: 1.5em;
  position: absolute;
  left: -1px;
  top: -1px;
  bottom: -1px; }
#webkite-results.wine-shop-landscape.webkite-light .all-current-filters {
  -webkit-border-radius: 0 3px 3px 3px;
  -moz-border-radius: 0 3px 3px 3px;
  -ms-border-radius: 0 3px 3px 3px;
  -o-border-radius: 0 3px 3px 3px;
  border-radius: 0 3px 3px 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 19px;
  padding: 5px 25px 2px 5px;
  position: absolute;
  top: -1px;
  right: -1px;
  left: -1px;
  z-index: 3; }
  #webkite-results.wine-shop-landscape.webkite-light .all-current-filters .all-filters-wrapper {
    white-space: normal; }
    #webkite-results.wine-shop-landscape.webkite-light .all-current-filters .all-filters-wrapper > span:first-child {
      padding-left: 0; }
    #webkite-results.wine-shop-landscape.webkite-light .all-current-filters .all-filters-wrapper [class^="filter-group"] {
      display: inline; }

/********************************************* PAGINATION */
#webkite-results.wine-shop-landscape.webkite-light {
  /* page input */
  /* remove arrows */ }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-pagination-area {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: 400 14px/0 'Open Sans', 'Arial', sans-serif;
    padding-left: 122px;
    width: 100%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    line-height: 34px; }
    #webkite-results.wine-shop-landscape.webkite-light .webkite-pagination-area:empty {
      display: none; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-results-paginator {
    font-size: 14px; }
    #webkite-results.wine-shop-landscape.webkite-light .webkite-results-paginator a, #webkite-results.wine-shop-landscape.webkite-light .webkite-results-paginator p {
      display: inline; }
    #webkite-results.wine-shop-landscape.webkite-light .webkite-results-paginator em {
      font-style: italic; }
    #webkite-results.wine-shop-landscape.webkite-light .webkite-results-paginator a {
      font-size: 1.2em;
      line-height: 0; }
  #webkite-results.wine-shop-landscape.webkite-light .first-result-page, #webkite-results.wine-shop-landscape.webkite-light .previous-result-page {
    padding-right: 10px; }
    #webkite-results.wine-shop-landscape.webkite-light .first-result-page.disabled, #webkite-results.wine-shop-landscape.webkite-light .previous-result-page.disabled {
      color: rgba(0, 0, 0, 0.6); }
      #webkite-results.wine-shop-landscape.webkite-light .first-result-page.disabled:hover, #webkite-results.wine-shop-landscape.webkite-light .previous-result-page.disabled:hover {
        color: rgba(0, 0, 0, 0.6);
        cursor: default; }
  #webkite-results.wine-shop-landscape.webkite-light .next-result-page, #webkite-results.wine-shop-landscape.webkite-light .last-result-page {
    padding-left: 10px; }
    #webkite-results.wine-shop-landscape.webkite-light .next-result-page.disabled, #webkite-results.wine-shop-landscape.webkite-light .last-result-page.disabled {
      color: rgba(0, 0, 0, 0.6); }
      #webkite-results.wine-shop-landscape.webkite-light .next-result-page.disabled:hover, #webkite-results.wine-shop-landscape.webkite-light .last-result-page.disabled:hover {
        color: rgba(0, 0, 0, 0.6);
        cursor: default; }
  #webkite-results.wine-shop-landscape.webkite-light input.webkite-page-input {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 5px;
    -moz-appearance: textfield;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    box-sizing: content-box;
    margin: 0;
    max-width: 1.5em;
    font-size: 0.9em;
    line-height: 16px;
    text-align: center; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-page-input::-webkit-outer-spin-button, #webkite-results.wine-shop-landscape.webkite-light .webkite-page-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  #webkite-results.wine-shop-landscape.webkite-light input[type=number] {
    -moz-appearance: textfield; }

/************************************** ELEMENT QUERIES */
#webkite-results.xs.wine-shop-landscape.webkite-light .webkite-branding-area, #webkite-results.xs.wine-shop-landscape.webkite-light .webkite-pagination-area {
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center; }
#webkite-results.xs.wine-shop-landscape.webkite-light .webkite-filter-area, #webkite-results.xs.wine-shop-landscape.webkite-light .webkite-sort-area, #webkite-results.xs.wine-shop-landscape.webkite-light .webkite-sort-area > .webkite-toggle {
  width: 100%; }
#webkite-results.xs.wine-shop-landscape.webkite-light .sort-menu {
  width: 95%; }
#webkite-results.xs.wine-shop-landscape.webkite-light .webkite-sort-area + .webkite-filter-area {
  margin-top: 20px; }
#webkite-results.xs.wine-shop-landscape.webkite-light .webkite-filter-area, #webkite-results.xs.wine-shop-landscape.webkite-light .webkite-sort-area + .webkite-filter-area {
  margin-left: 0;
  padding-left: 0; }
#webkite-results.xs.wine-shop-landscape.webkite-light .webkite-branding-area + .webkite-pagination-area {
  margin-top: 20px; }
#webkite-results.xs.wine-shop-landscape.webkite-light .webkite-dataset-name {
  text-align: center;
  font-size: 20px; }
#webkite-results.xs.wine-shop-landscape.webkite-light .webkite-embed-wrapper .webkite-embed-show {
  display: block;
  text-align: center; }

#webkite-results.sm.wine-shop-landscape.webkite-light .webkite-filter-area, #webkite-results.sm.wine-shop-landscape.webkite-light .webkite-sort-area, #webkite-results.sm.wine-shop-landscape.webkite-light .webkite-sort-area > .webkite-toggle {
  width: 100%; }
#webkite-results.sm.wine-shop-landscape.webkite-light .sort-menu {
  width: 95%; }
#webkite-results.sm.wine-shop-landscape.webkite-light .webkite-sort-area + .webkite-filter-area {
  margin-top: 20px; }
#webkite-results.sm.wine-shop-landscape.webkite-light .webkite-filter-area, #webkite-results.sm.wine-shop-landscape.webkite-light .webkite-sort-area + .webkite-filter-area {
  margin-left: 0;
  padding-left: 0; }

/********************************************** BLOCKS */
#webkite-results.wine-shop-landscape.webkite-light .webkite-block-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: -20px;
  vertical-align: top;
  text-align: left;
  position: relative; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-block {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
  width: 100%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-block.webkite-block-thirty {
    width: 30%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-block.webkite-block-forty {
    width: 40%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-block.webkite-block-fifty {
    width: 50%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-block.webkite-block-sixty {
    width: 60%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-block.webkite-block-seventy {
    width: 70%; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-wine-block {
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin: 8px 0 0 0;
  list-style: none;
  display: block; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-wine-block li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1.2em;
    display: block; }

/************************************ LANDSCAPE RESULTS */
#webkite-results.wine-shop-landscape.webkite-light .webkite-group-name {
  color: rgba(0, 0, 0, 0.7);
  font-family: 'Libre Baskerville', 'Georgia', serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1em;
  padding: 0;
  margin: 0 0 20px; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-result {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  text-align: justify;
  position: relative;
  line-height: 1.2em; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-image-wrapper {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  width: 100%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-image-wrapper img {
    max-width: 100%;
    height: auto;
    display: block; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-image-wrapper + .webkite-result-body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-wine-name {
  display: inline-block; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-subheadline {
  margin-bottom: 0;
  font-family: 'Libre Baskerville', 'Georgia', serif;
  font-style: italic;
  font-size: 13px;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.6); }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-subheadline:empty {
    display: none; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-headline {
  margin-bottom: 0;
  line-height: 1.2; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-vintage + .webkite-varietal:before {
  content: '\2022';
  color: rgba(0, 0, 0, 0.6);
  padding: 0 4px 0 5px;
  opacity: 0.3;
  font-style: normal; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-providence {
  color: rgba(0, 0, 0, 0.6); }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-providence:empty {
    display: none; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-providence a + a:before, #webkite-results.wine-shop-landscape.webkite-light .webkite-providence span + span:before, #webkite-results.wine-shop-landscape.webkite-light .webkite-providence a + span:before, #webkite-results.wine-shop-landscape.webkite-light .webkite-providence span + a:before {
    content: ", "; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-prices {
  width: 100%; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-prices > .webkite-block {
    text-align: center; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-price {
  display: inline-block;
  font-family: 'Libre Baskerville', 'Georgia', serif;
  font-size: 18px;
  line-height: 1;
  width: 100%;
  color: rgba(0, 0, 0, 0.7); }
#webkite-results.wine-shop-landscape.webkite-light .webkite-price-value {
  display: inline-block;
  font-weight: bold;
  line-height: 1.2;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-list-price-value {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1em;
  padding: 2px 0;
  margin: -2px 0;
  max-width: 100%;
  opacity: 0.5;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-price-label {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.1;
  text-transform: uppercase;
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 0;
  margin: -2px 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-wine-extra-detail li {
  display: inline-block; }
  #webkite-results.wine-shop-landscape.webkite-light .webkite-wine-extra-detail li + li:before {
    padding-left: 6.66667px;
    padding-right: 6.66667px;
    content: '\2022';
    color: rgba(0, 0, 0, 0.6);
    opacity: 0.3;
    font-style: normal;
    font-size: 16px;
    line-height: 14px;
    position: relative;
    top: 1px; }

/* single prices layout shift */
#webkite-results.wine-shop-landscape.webkite-light .webkite-prices-single > .webkite-block-seventy {
  width: 85%; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-prices-single > .webkite-block-thirty {
  width: 15%; }
#webkite-results.wine-shop-landscape.webkite-light .webkite-prices-single .webkite-prices > .webkite-block {
  width: 100%; }

/******************************************* NO RESULTS */
#webkite-results.wine-shop-landscape.webkite-light .webkite-no-results {
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1); }

/************************************** ELEMENT QUERIES */
#webkite-results.wine-shop-landscape.webkite-light.xs .webkite-block {
  width: 100%;
  padding-right: 0; }
#webkite-results.wine-shop-landscape.webkite-light.xs .webkite-image-wrapper {
  margin-bottom: 8px; }
  #webkite-results.wine-shop-landscape.webkite-light.xs .webkite-image-wrapper img {
    width: 100%; }
#webkite-results.wine-shop-landscape.webkite-light.xs .webkite-result-body .webkite-prices {
  margin-top: 8px;
  width: auto; }
  #webkite-results.wine-shop-landscape.webkite-light.xs .webkite-result-body .webkite-prices > .webkite-block {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: left; }
#webkite-results.wine-shop-landscape.webkite-light.xs .webkite-result-body .webkite-price {
  display: inline;
  font-size: 1.3em;
  text-align: left; }
#webkite-results.wine-shop-landscape.webkite-light.xs .webkite-result-body .webkite-price-value {
  vertical-align: bottom;
  line-height: inherit; }
#webkite-results.wine-shop-landscape.webkite-light.xs .webkite-result-body .webkite-list-price-value {
  padding-top: 5px;
  margin-top: 0; }
#webkite-results.wine-shop-landscape.webkite-light.xs .webkite-result-body .webkite-price-label {
  font-size: 12px;
  display: inline-block;
  width: auto;
  overflow: hidden;
  vertical-align: bottom;
  position: relative;
  top: -1px; }

#webkite-results.wine-shop-landscape.webkite-light.sm .webkite-image-wrapper {
  width: 150px;
  margin-right: -150px; }
  #webkite-results.wine-shop-landscape.webkite-light.sm .webkite-image-wrapper + .webkite-result-body {
    padding-left: 170px; }
#webkite-results.wine-shop-landscape.webkite-light.sm .webkite-block.webkite-block-seventy {
  width: 100%; }
#webkite-results.wine-shop-landscape.webkite-light.sm .webkite-result-body .webkite-prices {
  margin-top: 8px;
  width: auto; }
  #webkite-results.wine-shop-landscape.webkite-light.sm .webkite-result-body .webkite-prices > .webkite-block {
    display: inline-block;
    vertical-align: top;
    text-align: left; }
#webkite-results.wine-shop-landscape.webkite-light.sm .webkite-result-body .webkite-price {
  display: inline;
  font-size: 1.3em;
  text-align: left; }
#webkite-results.wine-shop-landscape.webkite-light.sm .webkite-result-body .webkite-price-value {
  vertical-align: bottom;
  line-height: inherit; }
#webkite-results.wine-shop-landscape.webkite-light.sm .webkite-result-body .webkite-list-price-value {
  padding-top: 5px;
  margin-top: 0; }
#webkite-results.wine-shop-landscape.webkite-light.sm .webkite-result-body .webkite-price-label {
  font-size: 12px;
  display: inline-block;
  width: auto;
  overflow: hidden;
  vertical-align: bottom;
  position: relative;
  top: -1px; }

#webkite-results.wine-shop-landscape.webkite-light.md .webkite-image-wrapper {
  width: 100px;
  margin-right: -100px; }
  #webkite-results.wine-shop-landscape.webkite-light.md .webkite-image-wrapper + .webkite-result-body {
    padding-left: 120px; }
#webkite-results.wine-shop-landscape.webkite-light.md .webkite-prices-wrap {
  padding-left: 0; }
#webkite-results.wine-shop-landscape.webkite-light.md .webkite-prices {
  margin-left: 0; }
#webkite-results.wine-shop-landscape.webkite-light.md .webkite-list-price-value {
  margin-top: 1px; }
#webkite-results.wine-shop-landscape.webkite-light.md .webkite-price-label {
  width: 100%;
  display: block; }

/*************************** DISPLAY RULES */
#webkite-results.wine-shop-landscape.webkite-light.xs .md-only {
  display: none; }
#webkite-results.wine-shop-landscape.webkite-light.xs .until-md {
  display: block; }

#webkite-results.wine-shop-landscape.webkite-light.sm .md-only {
  display: none; }
#webkite-results.wine-shop-landscape.webkite-light.sm .until-md {
  display: block; }

#webkite-results.wine-shop-landscape.webkite-light.md .until-md {
  display: none; }
