{{#if embedCode}}
  <div class="webkite-embed-wrapper">
    <a href="#webkite-embedder" class="webkite-embed-show">Embed &lt;/&gt;</a>
    <div id="webkite-embedder" class="webkite-embed">
      <a href="#" class="webkite-embed-select">Select All</a>
      <div class="webkite-embed-input">
        <input id='webkiteEmbedInput' class="webkite-embed-input" type='text' value='{{embedCode}}' readonly />
      </div>
      <a href="#" class="webkite-embed-hide">X</a>
    </div>
  </div>
{{/if}}
