<footer class="webkite-results-footer">
  <div class="webkite-branding-area">
    {{#if allowMarketingLinks}}
      <a href="http://webkite.com/welcome-webkite/" target="_blank"></a>
    {{else}}
      <a></a>
    {{/if}}
  </div><!--
--><div class="webkite-pagination-area">{{>paginator pagination}}</div>
</footer>
