<section class="webkite-no-results">
  <h2>{{t "Sorry, no results" default="Sorry, no results"}}</h2>
  <p>{{t "There are no results to display based on the selected filters; Try removing a filter to see more results" default="There are no results to display based on the selected filters. Try removing a filter to see more results."}}</p>
</section>
